<%- include("./partials/header")%> 
<div class="container">
  <div class="row">
    <div class="container">
      <div class="col s12 toprow">
        <h1>Your <br>ingredients <br>are:</h1>
      </div>
    </div>
  </div>
  <div class="container midrow">  
    <div class="row">
      <% ingredients.forEach(function(ingredient){%>
        <span class="right-align">
          <h4><a href="<%=ingredient._id%>"><%=ingredient.item%>  <i class="tiny material-icons">brightness_1</i></a></h4> 
        </span>
      <% }) %> 
    </div>
  </div>
  <div class="container">
    <div class="container bottomrow">
      <div class="section left-align">
        <%message.forEach(function(message){%> 
          <div id="message">
            <h5>
              <p><%= message.text %></p> 
            </h5>
          </div>
        <%})%>
      </div>
      <div class="row right-align">
          <a href="" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">autorenew</i></a>
          <a href="/new" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer")%> 
