<%- include("./partials/header")%> 
<div class="container">
  <div class="section">
      <div class="valign-wrapper section">
        <div class="container item-alt">
          <% ingredients.forEach(function(ingredient){%>
            <span class="right-align">
              <h4>
                <a href="/ingredients/<%=ingredient._id%>"><%=ingredient.item%></a>
                <span>
                  <a href="/ingredients/<%=ingredient._id%>/edit" id="edit-button" class="btn-floating btn-flat btn-small red"><i class="material-icons">create</i></a>
                </span>
                <span>
                  <a href="" id="delete-button" class="btn-floating btn-flat btn-small purple"><i class="material-icons">close</i></a>
                </span>
              </h4>
            </span>
          <% }) %> 
        </div>
      </div>
      <div class="container right-align">
        <a href="javascript:history.back()" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>
      </div>
  </div>
</div>
<%- include("./partials/footer") %> 

  
