<%- include("./partials/header")%> 
<div class="container">
  <div class="section">
      <div class="valign-wrapper section">
        <div class="container item">
          <h1><%= ingredient.item %></h1>
          <p><%= ingredient.description %></p>   
        </div>
      </div>
      <div class="container right-align">
        <a href="/ingredients/<%=ingredient._id%>/edit" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">create</i></a>
        <a href="/" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">home</i></a>
      </div>
  </div>
</div>

<%- include("./partials/footer") %> 

  
